<!DOCTYPE html>
<html>
	<head>
		<link href="{{ asset('img/favicon.ico') }}" rel="icon" type="image/ico">
<meta charset = "UTF-8">		
<title>CS Crm</title>
<link href="">
<link href="{{ asset('css/style_Project_Work2.css') }}" rel="stylesheet" type="text/css" charset="utf-8"/>
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" type="text/css">
	</head>
	<body class="body">

		
		<header class="contenitore_header cf">
		<p class = "logo"> <a href="operatore_index"><img src= "{{ asset ('img/logo_bianco.png') }}" width="100" height="40"></a></p>
			<div class="header_info">
				<p class = "admin"><span class="scrittaAdmin">Operatore:</span> {{ app.user.nome }}</p>
				<p class = "dataEora">LUN 01/10/2015 - 16:33.05</p>
			</div>
		
			<div class="contenitore_logout">
				<p class = "logout"><a href="login">Logout</p>
				<i class="fa fa-sign-out fa-1x"></a></i>
			</div>
		</header>


	<div class="contenitore_breadcrumb">
	<i>Campagne / Campagne attive</i>
	</div>



		<nav class="contenitore_menu">
			<p class="home"><a href="operatore_index">HOME</a></p>
			<!--<p class="aziende"><a href="http://localhost/PROJECTWORK/Admin_aziende.html">AZIENDE</a></p>
			<p class="contatti"><a href="http://localhost/PROJECTWORK/-----------.html">CONTATTI</a></p>-->
			<p class="campagne"><a href="operatore_campagne_attive">CAMPAGNE ATTIVE</a></p>
<!--			<p class="operatori"><a href="http://localhost/PROJECTWORK/Admin_operatori.html">OPERATORI</a></p>
			<p class="report"><a href="http://localhost/PROJECTWORK/----------.html">REPORT</a></p> -->
			<p class="campagne"><a href="operatore_campagne_passate">CAMPAGNE CONCLUSE</a></p>
		</nav>

		<aside class="contenitore_principale cf">
				<div class="titolo_contenuti">Campagne attive
<!--					<a href="http://localhost/PROJECTWORK/Nuova_campagna_1.html"><nav class="aggiungi_elemento">Aggiungi nuova campagna</nav></a> -->
				</div>
					<div class="informazioni_operatori_campagne cf">
						<div class="profilo_operatori_campagne">Campagna</div>
						<div class="campagne_passate">Status</div> 
					</div>
					<nav class="contenitore_elenco_operatori">
						
						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><a href="indirizzo pagina profilo"><i class="fa fa-flag fa-11x"></i></a></div>
								<div class="nomeEcognome"><a href="dettagli_campagna"><i>Christmas</br>Vodafone</i></a></div>
								<div>
								
										<div class="contenitore_icone">

										<div class="icona_rimuovere"><a href="------------"><i class="fa fa-check-circle fa-1x"></i></a></div>
										<div class="icona_pausa"><a href="Operatori_campagne_attive.html"><i class="fa fa-bullhorn fa-1x"></i></a></div>
										<div class="icona_assegna_contatti"><a href="--------------"><i class=""></i></a></div>
										</div>
								</div>

						</div>

						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><a href="indirizzo pagina profilo"><i class="fa fa-flag fa-11x"></i></a></div>
								<div class="nomeEcognome"><a href="dettagli_campagna"><i>Campagna</br>Azienda</i></div>
								<div>
								
										<div class="contenitore_icone">
										
								<div class="icona_rimuovere"><a href="------------"><i class="fa fa-check-circle fa-1x"></i></a></div>
										<div class="icona_pausa"><a href="Operatori_campagne_attive.html"><i class="fa fa-bullhorn fa-1x"></i></a></div>
										<div class="icona_assegna_contatti"><a href="--------------"><i class=""></i></a></div>
										</div>
								</div>

						</div>


						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><a href="indirizzo pagina profilo"><i class="fa fa-flag fa-11x"></i></a></div>
								<div class="nomeEcognome"><a href="dettagli_campagna"><i>Campagna</br>Azienda</i></div>
								<div>
									
										<div class="contenitore_icone">
										
								<div class="icona_rimuovere"><a href="------------"><i class="fa fa-check-circle fa-1x"></i></a></div>
										<div class="icona_pausa"><a href="Operatori_campagne_attive.html"><i class="fa fa-bullhorn fa-1x"></i></a></div>
										<div class="icona_assegna_contatti"><a href="--------------"><i class=""></i></a></div> 
										</div>
								</div>

						</div>

					</nav>
					
		</aside>


<div class="contenitore_sfondo cf">

</div>


<!--INSERIRE JQUERY per FAR FUNZIONARE LO SCRIPT-->
<script type="text/javascript">
$('#logo').parents('test').css('background-color', 'red');
</script>
	</body>
</html>
