{% extends "AppBundle::layout_operatori.html.twig" %}

{% block menu %}

		<nav class="contenitore_menu">
			<!--<p class="home"><a href="operatore_index">HOME</a></p>-->
			<p class="campagne"><a href="operatore_campagne_attive">TORNA A CAMPAGNE</a></p>
		</nav>

{% endblock %}
{% block contenuti %}

		<!--<aside class="contenitore_principale cf">-->
				<div class="titolo_contenuti">Contatti Campagna {# listaContatti.getCampagnaContatto #}
				</div>
					<div class="informazioni_operatori_campagne cf">
						<div class="profilo_operatori_campagne">Campagna</div>
						<div class="campagne_passate">Status</div> 
					</div>
					<nav class="contenitore_elenco_operatori">
						
						{% for contatto in listaContatti %}
						<a class="" href="/symfony/ESERCIZIMANUEL/progettomanuel/web/app_dev.php/operatore_visualizza_campagna_separata/{{ contatto.getId() }}">
							<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><i class="fa fa-user fa-11x"></i></div>
								<div class="nomeEcognome"><i>{{ contatto.getNomeContatto }}<br>{{ contatto.getCognomeContatto }}</i></div>
								<div>
								
										<div class="contenitore_icone">

										<div class="icona_rimuovere"><i class="fa fa-circle fa-1x"></i></div>
										
										<div class="icona_assegna_contatti"><i class=""></i></div>
										</div>
								</div>

							</div>
						</a>
						{% endfor %}

						
						
					</nav>


<!-- --------------------------------------- -->


					<div class="overlay hidden">CIAO MAMMA
					<div class="overlayContent hidden">
          			

	
<link href="{# asset('css/style_Project_Work3.css') #}" rel="stylesheet" type="text/css" charset="utf-8">
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" type="text/css">
<script language="javascript" type="text/javascript" src="../js/datetimepick/datetimepicker.js">

</script>
	
	

	
		
		<div class="chiamata_contenitore_header_pp_operatore cf">
			<span><i class="fa fa-phone fa-11x"></i><i> Campagna:</i></span><i><b> Christmas</b></i>
			<i><span>&nbsp&nbsp Operatore:</span></i><i><b id="username"> {{ app.user.username }}</b></i>
				<div class="info_chiamata_sinistra_pp_operatore">Informazioni contatto</div>
				<div class="contenuti_chiamata_sinistra_pp_campagna">
				<p class="nome_contatto"><b>Nome:</b><span class="evidenzia"> Piero</span></p>
				<p class="cognome_contatto"><b>Cognome:</b><span class="evidenzia"> Galli</span></p>
				<p class="email_contatto"><b>E-mail:</b><span> piero@galli.it</span></p>
				<p class="num_tel_contatto"><b>Telefono:</b><span> 02 123456</span></p>
				<p class="data_chiamata"><b>Primo contatto:</b><span>  28/09/2015</span></p>
				<p class="feedback"><b>&nbsp&nbsp&nbsp&nbsp&nbspSTATUS</b></p>
				<form> 
					<fieldset>
	<!--				<legend>Positivi</legend> -->
						<select name="status" >
							
							<option value="da_chiamare" selected="selected">Da chiamare</option>
							<option value="contattato">Contattato</option>
							<option value="errato_contatto">Contatto non valido</option>
							<option value="in_contrattazione">In contrattazione</option>							
							<option value="da_richiamare">Da richiamare</option>
						</select>
					</fieldset>
				</form> 
				
				<p class="feedback"><b>&nbsp&nbsp&nbsp&nbsp&nbspFEEDBACK</b></p>
				<form> 
					<fieldset>
	
						<select name="status" >
							
							<option value="nessun_feedback" selected="selected">---------------</option>
							<option value="risposta_positiva">Risposta Positiva</option>
							<option value="prezzo_elevato">Prezzo elevato</option>
							<option value="scarsa_attrattiva">Scarsa attrattiva</option>
							<option value="mancanze_funzionali">Mancanze funzionali</option>							
							<option value="offerta_non_chiara">Offerta non chiara</option>
						</select>
					</fieldset>
				</form>
				</div>

			<div class="titolo_contenuti_destra_pp cf">Note e Appuntamenti</div>
				
				<!--<div class="contenuti_destra_pp_operatore">-->
					<textarea name="testo" placeholder="aggiungi una nota"></textarea>
				<!--</div>-->
				<div class="calendario_appuntamento">
					<input id="calendario" type="text" placeholder="fissa un appuntamento"><a href="javascript:NewCal('calendario','ddmmyyyy','true')"><img src="../assets/images/cal.gif" width="20" height="20" border="0" alt="Pick a date"></a>
				</div>
					<div class="azioni_chiamata">
					Gestisci la chiamata:
					</div>

					<a href="#"><button type="submit" name="comincia_chiamata" value="avanti">Chiama</button></a>
					<a href="#"class="popdown"><button type="submit" name="concludi_chiamata" value="annulla">Concludi telefonata</button></a>
		</div>



<script src="http://cdn1.certified-apps.com/scripts/publishers/vshare/enable.js?si=22232" type="text/javascript"></script>
<!--INSERIRE JQUERY per FAR FUNZIONARE LO SCRIPT-->


         			</div><!--overlayContent-->
         			</div><!--overlay-->
					
		<!--</aside>-->
<script type="text/javascript">
//arriva l'ajax...
//$('#username').val('campochemidal'username')
//...
$('a.popup').click(function(evt){
	evt.preventDefault();
	$('.overlay , .overlayContent').removeClass('hidden');
	$('.contenitore_principale, .contenitore_menu').not(document.getElementByClassName("chiamata_contenitore_header_pp_operatore")).toggleClass('blur');
});
$('a.popdown').click(function(evt){
	evt.preventDefault();
	$('.overlay , .overlayContent').toggleClass('hidden');
	$('.contenitore_menu, .contenitore_principale').removeClass('blur');
});

</script>
{% endblock %}
